

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    text-shadow: 3px 3px #C0392B;
    }
    
    .container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 10px;
    }
    
    .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px #E6B0AA;
    text-align: center;
    width: 250px;
    padding: 20px;
    transition: all .2s ease-in-out;
    }
    
    .card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px #E6B0AA;
    }
    
    /* button {
    border: none;
    background-color: #C0392B;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    } */
    
    /* .thing-count {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    }
     */
    
    body {
      background-color: #FADBD8;
      font-family: 'Helvetica Neue', sans-serif;
      color: #333333;
    }
    

    main {
      background-color: #FADBD8;
      font-family: 'Helvetica Neue', sans-serif;
      color: #333333;
    }
    
  
    